header{
    font-size: 45px;
    font-weight: 100;
    text-align: left;
    padding: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.colten_bowdoin{
    position:absolute;
    bottom: 275px;
    left: 20px;
    padding: 10px;
}

.software_dev{
    position: absolute;
    bottom: 225px;
    left: 20px;
    padding: 10px;
}

img{
    display: block;
    width: 25%;
    height:25%;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(88, 166, 178);
    text-align: center;
}
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li{
        float: left;
    }

    li a {
        display: inline;
        background-color: rgb(48, 47, 47);
        font-size: 16px;
    }

    li a{
        display: inline-block;
        color: white;
        text-align: center;
        padding: 25px 16px;
        text-decoration: none;
    }

    li a:hover{
        background-color: #111;
    }

    .section-class{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        
    }

    .about_me-class{
        display: flex;
        width: 400px;
        border: 1px solid #000000;
        border-color: black;
        padding: 10px;
        margin: 20px 0;
        text-align: justified;
        background-color: rgb(84, 180, 248);
    }

    .projects-class{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .projects-class_1{
        display: flex;
        width: 300px;
        border: 1px solid black;
        border-color: black;
        padding: 10px;
        border-radius: 10px;
    }